@import url('https://fonts.googleapis.com/css?family=Muli');

html,body{
   margin:0;
   font-family:'Muli',san-serif;
   position: relative;
   height: 100%;
}

.headerbg {
    background-image: url("../img/bg.png");
    background-size: cover;
    color:#FFF;
    padding: 5%;
    height: 100%;
}

.logo{
    width: 40%;
    margin-top: 30%;
}

.imgright{
    width: 50%;
}

.carousel-inner img{
margin:auto ;
}

h3{
  color: #260d41; 
   font-size: 55px;
   font-weight: 500;
}

.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #161616;
}

.features{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #161616;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);   
}

.footer{
    background:#FF5F6D;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    color: #FFF;
}

.footer button{
    background: #FFF;
    color: #fc3223;
    height: 60px;
    padding: 15px;
    width: 80%;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
    margin-top: 5%;
    border: none;
}

.footer button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background:#fc3223 ;
    color: #FFF;
}

.footerbrand{
    background: #181818;
    padding: 40px;
}

.logofooter{
    width: 100%;
}